:root {
    --black: #171717;
    --grey: #D8D5DB;
    --red: #f15152;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

/* Nav Bar */

.ourNav {
    background-color: var(--black) !important;
}

.navText {
    color: var(--grey);
    font-size: 20px;
    font-family: "Merienda";
    cursor: pointer;
    text-shadow: 3px 3px 3px rgba(110, 117, 124, 0.5);
}

.logoText {
    font-size: 40px;
    font-family: "Merienda";
    font-weight: 700;
    cursor: pointer;
    text-shadow: 4px 4px 4px rgba(110, 117, 124, 0.5);
    animation-name: brandName;
    animation-duration: 2s;
}

.logoText:hover {
    color: var(--red);
}

.logoText:focus {
    color: var(--grey);
}

.logoText:active {
    color: hsl(360, 85%, 68%);
}

@keyframes brandName {
    0% {
        color: var(--grey);
    }

    25% {
        color: var(--red);
    }

    75% {
        color: var(--grey);
    }
}

.liText:hover {
    color: rgba(216, 213, 219, 0.8);
}

.liText:focus {
    color: var(--grey);
}

.liText:active {
    color: hsla(270, 8%, 90%, 0.8)
}

.dropdown {
    background-color: rgba(81, 81, 81, 0.8);
    border: 3px solid rgba(50, 50, 50, 0.804);
}

.dropdown:hover {
    background-color: rgba(81, 81, 81, 0.6);
    border: 3px solid rgba(33, 33, 33, 0.6)
}

/* Motivational Quote */

.fade-in {
    opacity: 0;
    animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#randomQuote {
    color: var(--black);
    font-size: 20px;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 0;
    font-family: "Spectral";
}

.quoteBackground {
    background-color: hsl(0, 0%, 48%);
}

/* Modal */

/* Modal Button in Nav */
.modal-btn {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    border-radius: 60px;
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    font-family: "Merienda";
    font-weight: 700;
}

.modal-btn:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-btn:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

/* Modal Pop-Up */
.modal-bg {
    background-color: #292929;
}

.border-head {
    border-bottom: 1px solid #171717;
}

.btn-close:active {
    box-shadow: 3px 3px hsl(0, 0%, 18%), -3px -3px hsl(0, 0%, 18%), 3px -3px hsl(0, 0%, 18%), -3px 3px hsl(0, 0%, 18%);
    border-radius: 8px;
}

.btn-close:focus {
    box-shadow: 3px 3px hsl(0, 0%, 18%), -3px -3px hsl(0, 0%, 18%), 3px -3px hsl(0, 0%, 18%), -3px 3px hsl(0, 0%, 18%);
    border-radius: 8px;
}

.border-foot {
    border-top: 1px solid #171717;
}

.modal-title,
.modal-body {
    color: var(--grey);
    font-family: "Spectral";
}

.modal-close {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-close:hover {
    background-color: #61676d;
    border: 3px outset rgba(97, 103, 109, 0.5);
}

.modal-close:active {
    background-color: #6E757C;
    border: 3px outset hsl(210, 6%, 56%) !important;
}

.modal-next {
    background-color: #f15152;
    border: 3px outset rgba(193, 63, 63, 0.5);
    font-family: "Spectral";
}

.modal-next:hover {
    background-color: #d64747;
    border: 3px outset #d8494980;
}

.modal-next:active {
    background-color: #c54141 !important;
    border: 3px outset hsl(0, 51%, 50%) !important;
}

.modal-btn-pop {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    font-family: "Merienda";
    font-weight: 700;
}

.modal-btn-pop:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-btn-pop:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

.modal-clear {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-clear:hover {
    background-color: #61676d;
    border: 3px outset #f15152;
    color: hsl(360, 85%, 73%)
}

.modal-clear:active {
    color: hsl(360, 85%, 63%) !important;
    background-color: #575c62;
    border: 3px outset hsl(360, 85%, 53%) !important;
}

.modal-view {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-view:hover {
    background-color: #61676d;
    border: 3px outset #3BCEAC;
    color: hsl(166, 60%, 72%);
}

.modal-view:active {
    color: #3BCEAC !important;
    background-color: #575c62;
    border: 3px outset hsl(166, 60%, 42%) !important;
}

/* Subject Input */
.subject-input {
    background-color: #6e6e6e;
    border: 1px solid #484848;
    border-radius: 6px;
    color: hsl(0, 0%, 21%) !important;
}

.subject-input:hover {
    background-color: hsl(0, 0%, 48%);
    border: 1px solid hsl(0, 0%, 33%);
}

.subject-input:focus {
    background-color: hsl(0, 0%, 58%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    border: 1px solid hsl(0, 0%, 43%);
}

.subject-input::placeholder {
    color: hsl(0, 0%, 16%) !important;
}

.modal-gen-btn {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    font-family: "Spectral";
    font-weight: 700;
}

.modal-gen-btn:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-gen-btn:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

/* Body */

body {
    background-color: #202327;
}

/* Notes */
form,
section {
    display: flex;
    flex-flow: column wrap;
    padding: 1%;
    margin: 2%;
    width: 30%;
    transform: translateY(100px);
}

form>*:not(label) {
    margin: 1rem 0;
    padding: 0.5rem;
}

input[type="submit"] {
    background-color: #171717;
    color: grey;
}

.notesBtn {
    background-color: #171717;
    color: grey;
    border: grey;
}

#Notes,
#subject,
#content {
    color: black !important;
}

#Notes {
    text-align: center;
}

/* Flashcards */

/* Add Flashcard button section */
.flashcards-outline-con {
    background-color: var(--black);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    transform: translate(670px, -450px);
    width: 50vw;
    max-width: 62.5em;
    height: 155px;
}

.flashcards-container {
    width: 48vw;
    max-width: 62.5em;
    transform: translate(16px, 15px);
    background-color: var(--grey);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    border: 5px outset var(--red);
    text-shadow: 2px 2px 2px var(--black);
    backdrop-filter: blur(3px);
    box-shadow: 3px 3px 3px black;
}

.add-flashcard-con {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 1.2em 1em;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.add-flashcard-con button {
    font-size: 1em;
    background-color: #f15152;
    border: 3px outset rgba(193, 63, 63, 0.5);
    font-family: "Merienda";
    color: var(--grey);
    padding: 0.8em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;
    transform: translateY(10px);
}

.add-flashcard-con button:hover {
    background-color: #d64747;
    border: 3px outset #d8494980;
}

.add-flashcard-con button:active {
    background-color: #c54141 !important;
    border: 3px outset hsl(0, 51%, 50%) !important;
}

#card-con {
    margin-top: 1em;
}

/* Input info section */
.questions-outline-con {
    background-color: var(--black);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    transform: translate(740px, -450px);
    width: 40vw;
    max-width: 62.5em;
    height: 663px;
    opacity: 1;
}

.question-con {
    width: 90vw;
    max-width: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey);
    position: relative;
    transform: translate(17px, 15px);
    padding: 3em 2em;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    border: 5px outset var(--red);
    font-family: "Spectral";
}

.question-con h2 {
    font-size: 2.2em;
    color: var(--black);
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
    font-family: "Merienda";
}

.wrapper {
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 1em;
    margin-bottom: 1em;
}

.error-con {
    align-self: center;
    transform: translate(0px, 0px);
    color: var(--red)
}

#errorFC {
    color: var(--red);
    font-weight: 400;
    font-family: "Merienda";
}

.wrapper button {
    font-size: 1.4em;
    background-color: var(--red);
    height: 1.8em;
    width: 1.8em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    justify-self: flex-end;
}

.wrapper button:active,
.wrapper button:focus {
    border: none !important;
    box-shadow: none;
    border-radius: 50%;
}

label {
    color: var(--black);
    font-weight: 600;
    margin-bottom: 0.3em;
}

textarea {
    width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid hsl(0, 0%, 59%);
    outline: none;
    color: #525252;
    border-radius: 0.3em;
    resize: none;
}

textarea:not(:last-child) {
    margin-bottom: 1.2em;
}

textarea:focus {
    border-color: var(--black);
}

#save-btn {
    font-size: 1.2em;
    background-color: var(--red);
    border: 3px outset rgba(193, 63, 63, 0.5);
    font-family: "Merienda";
    color: var(--grey);
    padding: 0.6em 0;
    border-radius: 0.3em;
    font-weight: 600;
}

#save-btn:hover {
    background-color: #d64747;
    border: 3px outset #d8494980;
}

#save-btn:active {
    background-color: #c54141 !important;
    border: 3px outset hsl(0, 51%, 50%) !important;
}

.card-list-con {
    display: grid;
    padding: 0.2em;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0.4em 1.2em black;
    padding: 1.2em;
    border-radius: 1em;
    transform: translate(0px, -10px);
    transform: scale(0.95);
}

.question-div,
.answer-div {
    text-align: justify;
    text-shadow: 2px 2px 2px var(--grey);
    font-family: "Spectral";
}

.question-div {
    margin-bottom: 0.5em;
    font-weight: 600;
    color: var(--black);
}

.answer-div {
    margin-top: 1em;
    font-weight: 400;
    color: hsl(0, 0%, 29%);
}

.show-hide-btn {
    display: block;
    background-color: #6E757C;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.6em 0;
    border-radius: 0.3em;
    font-family: "Spectral";
    text-shadow: 1px 1px 1px var(--black);
    border: 3px outset rgba(110, 117, 124, 0.5);
    cursor: pointer;
}

.show-hide-btn:hover {
    background-color: #61676d;
    border: 3px outset rgba(97, 103, 109, 0.5);
}

.show-hide-btn:active {
    background-color: #6E757C;
    border: 3px outset hsl(210, 6%, 56%) !important;
}

.buttons-con {
    display: flex;
    justify-content: flex-end;
}

.edit,
.delete {
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2em;
}

.edit {
    color: #3BCEAC;
}

.edit:hover {
    color: hsl(166, 60%, 72%);
}

.edit:active {
    color: #3BCEAC !important;
}

.delete {
    color: var(--red);
}

.delete:hover {
    color: hsl(360, 85%, 73%);
}

.delete:active {
    color: hsl(360, 85%, 63%) !important;
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .card-list-con {
        grid-template-columns: 1fr 1fr;
        gap: 0.8em;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: 14px;
    }

    .card-list-con {
        grid-template-columns: 1fr;
        gap: 1.2em;
    }
}

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {}

/* Phone L */
@media (max-width: 425px) {
    .logoText {
        font-size: 30px;
    }

    .dropdown {
        transform: scale(0.6);
    }

    .liText {
        font-size: 15px;
    }

    .modal-btn {
        font-size: 12px;
    }

    #randomQuote {
        font-size: 10px;
    }
}

@media (max-width: 375px) {}