:root {
    --black: #171717;
    --grey: #D8D5DB;
    --red: #f15152;
}

.ourNav {
    background-color: var(--black) !important;
}

.navText {
    color: var(--grey);
    font-size: 1.4vw;
    font-family: "Merienda";
    cursor: pointer;
    text-shadow: 3px 3px 3px rgba(110, 117, 124, 0.5);
    margin-left: 3px;
}

.logoText {
    font-size: 2.8vw;
    font-family: "Merienda";
    font-weight: 700;
    cursor: pointer;
    text-shadow: 4px 4px 4px rgba(110, 117, 124, 0.5);
    animation-name: brandName;
    animation-duration: 2s;
}

.logoText:hover {
    color: var(--red);
}

.logoText:focus {
    color: var(--grey);
}

.logoText:active {
    color: hsl(360, 85%, 68%);
}

@keyframes brandName {
    0% {
        color: var(--grey);
    }

    25% {
        color: var(--red);
    }

    75% {
        color: var(--grey);
    }
}

.liText:hover {
    color: rgba(216, 213, 219, 0.6);
}

.liText:focus {
    color: rgba(216, 213, 219, 0.6);
}

.liText:active {
    color: rgba(216, 213, 219, 0.4);
}

.notes {
    background-color: black;
    border-radius: 5px;
}

.timer {
    color:var(--grey);
    background-image: url(https://newrelic.com/sites/default/files/styles/16x9_1800w/public/2021-04/pomodoro-timer.webp?h=a68e76a0&itok=HXkzJW1-);
    background-size: contain;
}

.timer:hover {
    opacity: 0.8;
}

.timer:active {
    opacity: 0.6;
}

.dropdown {
    background-color: rgba(81, 81, 81, 0.8);
    border: 3px solid rgba(50, 50, 50, 0.804);
    font-size: 1.4vw;
}

.dropdown:hover {
    background-color: rgba(81, 81, 81, 0.6);
    border: 3px solid rgba(33, 33, 33, 0.6)
}

.fade-in {
    opacity: 0;
    animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#randomQuote {
    color: var(--black);
    font-size: 1.8vw;
    font-style: italic;
    border-radius: 5px;
    font-family: "Spectral";
}

.quoteBackground {
    background-color: hsl(0, 0%, 48%);
}

.modal-btn {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    border-radius: 60px;
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    font-family: "Merienda";
    font-weight: 700;
    font-size: 1.4vw;
}

.modal-btn:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-btn:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

.modal-bg {
    background-color: #292929;
}

.border-head {
    border-bottom: 1px solid #171717;
}

.btn-close:active {
    box-shadow: 3px 3px hsl(0, 0%, 18%), -3px -3px hsl(0, 0%, 18%), 3px -3px hsl(0, 0%, 18%), -3px 3px hsl(0, 0%, 18%);
    border-radius: 8px;
}

.btn-close:focus {
    box-shadow: 3px 3px hsl(0, 0%, 18%), -3px -3px hsl(0, 0%, 18%), 3px -3px hsl(0, 0%, 18%), -3px 3px hsl(0, 0%, 18%);
    border-radius: 8px;
}

.border-foot {
    border-top: 1px solid #171717;
}

.modal-title,
.modal-body {
    color: var(--grey);
    font-family: "Spectral";
}

.modal-close {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-close:hover {
    background-color: #61676d;
    border: 3px outset rgba(97, 103, 109, 0.5);
}

.modal-close:active {
    background-color: #6E757C;
    border: 3px outset hsl(210, 6%, 56%) !important;
}

.modal-next {
    background-color: #f15152;
    border: 3px outset rgba(193, 63, 63, 0.5);
    font-family: "Spectral";
}

.modal-next:hover {
    background-color: #d64747;
    border: 3px outset #d8494980;
}

.modal-next:active {
    background-color: #c54141 !important;
    border: 3px outset hsl(0, 51%, 50%) !important;
}

.modal-btn-pop {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    font-family: "Merienda";
    font-weight: 700;
}

.modal-btn-pop:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-btn-pop:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

.modal-clear {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-clear:hover {
    background-color: #61676d;
    border: 3px outset #f15152;
    color: hsl(360, 85%, 73%)
}

.modal-clear:active {
    color: hsl(360, 85%, 63%) !important;
    background-color: #575c62;
    border: 3px outset hsl(360, 85%, 53%) !important;
}

.modal-view {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-view:hover {
    background-color: #61676d;
    border: 3px outset #3BCEAC;
    color: hsl(166, 60%, 72%);
}

.modal-view:active {
    color: #3BCEAC !important;
    background-color: #575c62;
    border: 3px outset hsl(166, 60%, 42%) !important;
}

.subject-input {
    background-color: #6e6e6e;
    border: 1px solid #484848;
    border-radius: 6px;
    color: hsl(0, 0%, 21%) !important;
}

.subject-input:hover {
    background-color: hsl(0, 0%, 48%);
    border: 1px solid hsl(0, 0%, 33%);
}

.subject-input:focus {
    background-color: hsl(0, 0%, 58%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    border: 1px solid hsl(0, 0%, 43%);
}

.subject-input::placeholder {
    color: hsl(0, 0%, 16%) !important;
}

.modal-gen-btn {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    font-family: "Spectral";
    font-weight: 700;
}

.modal-gen-btn:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-gen-btn:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

body {
    background-color: #202327;
}

form,
section {
    display: flex;
    flex-flow: column wrap;
    padding: 1%;
    margin: 2%;
    width: 30%;
    color: var(--red);
    font-family: "Merienda";
    text-shadow: 3px 3px 3px var(--black);
    font-weight: 500;
}

form>*:not(label) {
    margin: 1rem 0;
    padding: 0.5rem;
}

#subject, #content {
    border: 2px solid #484848;
    border-radius: 6px;
    background-color: #6e6e6e;
    padding: 10px;
    color: hsl(0, 0%, 21%) !important;
    text-shadow: none;
    box-shadow: 3px 3px 3px black;
}

#subject:hover, #content:hover {
    background-color: hsl(0, 0%, 48%);
    border: 2px solid hsl(0, 0%, 33%);
}

#subject:focus, #content:focus {
    background-color: hsl(0, 0%, 58%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    border: 2px solid hsl(0, 0%, 43%)!important;
    outline: none;
}

#subject::placeholder, #content::placeholder {
    color: hsl(0, 0%, 21%) !important;
}

input[type="submit"] {
    background-color: #171717;
    color: var(--grey);
    border-radius: 4px;
    border: 2px outset black;
}

input[type="submit"]:hover {
    background-color: hsl(0, 0%, 14%);
    border: 2px outset hsl(0, 0%, 5%);
}

input[type="submit"]:active {
    background-color: hsl(0, 0%, 19%);
    border: 2px outset hsl(0, 0%, 10%);
}

article {
    border: 2px outset #f15152;
    border-radius: 6px;
    background-color: hsl(0, 0%, 48%);
    padding: 10px;
    color: hsl(0, 0%, 21%) !important;
    text-shadow: none;
  }

article:hover {
    background-color: hsl(0, 0%, 48%);
    border: 2px solid hsl(0, 0%, 33%);
}

.subject-input::placeholder {
    color: hsl(0, 0%, 16%) !important;
}

.offcanvas {
    background-color: #282828;
    color: var(--grey);
    font-family: "Spectral";
}

.offcanvas-title {
    font-size: 25px;
    text-shadow: 3px 3px 3px var(--black);
}

.offcanvas-body {
    font-size: 16px;
    font-weight: 500;
}

#btnOc {
    background-color: transparent;
    border: none;
}

#btnOc:hover {
    color: rgba(216, 213, 219, 0.6);
}

#btnOc:focus {
    color: rgba(216, 213, 219, 0.6);
}

#btnOc:active {
    color: rgba(216, 213, 219, 0.4);
}

.pomodoro-container {
    background-color: hsl(0, 0%, 19%);
    width: min(90%, 500px);
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 10px;
    font-family: "Merienda";
    text-shadow: 2px 2px 2px var(--black);
    box-shadow: 3px 3px 3px black;
}

.pomodoro-container button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.btn-break {
    padding: 1em 2em;
    border-radius: 0.5em;
    border: 3px outset rgba(110, 117, 124, 0.5)!important;
    background-color: #6E757C;
    color: #F9F9F9!important;
    text-shadow: 1px 1px 1px var(--black);
    box-shadow: 1px 1px 1px black;
}

.btn-break:hover {
    background-color: #61676d;
    border: 3px outset rgba(97, 103, 109, 0.5);
}

.btn-break:active {
    background-color: hsl(210, 6%, 35%);
    border: 3px outset rgba(97, 103, 109, 0.5) !important;
}

.btn-focus {
    background-color: #f15152!important;
    border: 3px outset rgba(193, 63, 63, 0.5)!important;
}

.btn-focus:hover {
    background-color: #d64747!important;
    border: 3px outset #d8494980!important;
}

.btn-focus:active {
    background-color: #c54141 !important;
    border: 3px outset hsl(0, 51%, 50%) !important;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: hsl(0, 0%, 90%);
    font-size: 5em;
    font-weight: 600;
    font-family: "Spectral";
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#btnStart, #btnPause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
    border: 3px outset hsl(0, 0%, 80%);
    text-shadow: 1px 1px 1px var(--grey);
    box-shadow: 1px 1px 1px black;
}

#btnStart:hover, #btnPause:hover {
    background-color: hsl(0, 0%, 80%);
    border: 3px outset hsl(0, 0%, 70%);
}

#btnStart:active, #btnPause:active {
    background-color: hsl(0, 0%, 70%);
    border: 3px outset hsl(0, 0%, 60%);
}

#btnReset {
    background-color: transparent;
    border: none;
    outline: none;
    color: hsl(0, 0%, 90%);
    font-size: 2em;
}

#btnReset:hover {
    color: hsl(0, 0%, 80%)
}

#btnReset:active {
    color: hsl(0, 0%, 70%);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.footer {
    text-align: left;
    padding: 3px;
    background-color: lightgray;
    color: black!important;
}

.brand-title {
    font-family: "Merienda";
    color: var(--red);
}