:root {
    --black: #171717;
    --grey: #D8D5DB;
    --red: #f15152;
}

.ourNav {
    background-color: var(--black) !important;
}

.navText {
    color: var(--grey);
    font-size: 20px;
    font-family: "Merienda";
    cursor: pointer;
    text-shadow: 3px 3px 3px rgba(110, 117, 124, 0.5);
}

.logoText {
    font-size: 40px;
    font-family: "Merienda";
    font-weight: 700;
    cursor: default;
    text-shadow: 4px 4px 4px rgba(110, 117, 124, 0.5);
    animation-name: brandName;
    animation-duration: 2s;
}

.logoText:hover {
    color: var(--red);
}

.logoText:focus {
    color: var(--grey);
}

.logoText:active {
    color: hsl(360, 85%, 68%);
}

@keyframes brandName {
    0% {
        color: var(--grey);
    }

    25% {
        color: var(--red);
    }

    75% {
        color: var(--grey);
    }
}

.liText:hover {
    color: rgba(216, 213, 219, 0.8);
}

.liText:focus {
    color: var(--grey);
}

.liText:active {
    color: hsla(270, 8%, 90%, 0.8)
}

.dropdown {
    background-color: rgba(81, 81, 81, 0.8);
    border: 3px solid rgba(50, 50, 50, 0.804);
}

.dropdown:hover {
    background-color: rgba(81, 81, 81, 0.6);
    border: 3px solid rgba(33, 33, 33, 0.6)
}

.fade-in {
    opacity: 0;
    animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#randomQuote {
    color: var(--black);
    font-size: 1.8vw;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 0;
    font-family: "Spectral";
}

.quoteBackground {
    background-color: hsl(0, 0%, 48%);
}

.dojo-bg-container {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/149/153/original/dojo-vector-illustration.png);
    background-size: contain;
}

.center {
    font-family: "Protest Revolution";
    font-size: 10vw;
    color: #dabd19;
    text-shadow: 12px 12px 12px var(--black);
    animation: 3s invis;
}

.dojo-bg-container .center-info {
    font-family: "Merienda";
    font-size: 3.1vw;
    transform: scale(0.8);
    color: #dabd19;
    text-shadow: 4px 4px 4px var(--black);
    animation: 6s invis;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.center-info span {
    color: #f15152;
    animation: 3s invisNoteNinja 5s;
    font-size: 3.2vw;
}

@keyframes invis {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-btn {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    border-radius: 60px;
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    font-family: "Merienda";
    font-weight: 700;
}

.modal-btn:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-btn:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

.modal-bg {
    background-color: #292929;
}

.border-head {
    border-bottom: 1px solid #171717;
}

.btn-close:active {
    box-shadow: 3px 3px hsl(0, 0%, 18%), -3px -3px hsl(0, 0%, 18%), 3px -3px hsl(0, 0%, 18%), -3px 3px hsl(0, 0%, 18%);
    border-radius: 8px;
}

.btn-close:focus {
    box-shadow: 3px 3px hsl(0, 0%, 18%), -3px -3px hsl(0, 0%, 18%), 3px -3px hsl(0, 0%, 18%), -3px 3px hsl(0, 0%, 18%);
    border-radius: 8px;
}

.border-foot {
    border-top: 1px solid #171717;
}

.modal-title,
.modal-body {
    color: var(--grey);
    font-family: "Spectral";
}

.modal-close {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-close:hover {
    background-color: #61676d;
    border: 3px outset rgba(97, 103, 109, 0.5);
}

.modal-close:active {
    background-color: #6E757C;
    border: 3px outset hsl(210, 6%, 56%) !important;
}

.modal-next {
    background-color: #f15152;
    border: 3px outset rgba(193, 63, 63, 0.5);
    font-family: "Spectral";
}

.modal-next:hover {
    background-color: #d64747;
    border: 3px outset #d8494980;
}

.modal-next:active {
    background-color: #c54141 !important;
    border: 3px outset hsl(0, 51%, 50%) !important;
}

.modal-btn-pop {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    font-family: "Merienda";
    font-weight: 700;
}

.modal-btn-pop:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-btn-pop:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

.modal-clear {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-clear:hover {
    background-color: #61676d;
    border: 3px outset #f15152;
    color: hsl(360, 85%, 73%)
}

.modal-clear:active {
    color: hsl(360, 85%, 63%) !important;
    background-color: #575c62;
    border: 3px outset hsl(360, 85%, 53%) !important;
}

.modal-view {
    background-color: #6E757C;
    border: 3px outset rgba(110, 117, 124, 0.5);
    font-family: "Spectral";
}

.modal-view:hover {
    background-color: #61676d;
    border: 3px outset #3BCEAC;
    color: hsl(166, 60%, 72%);
}

.modal-view:active {
    color: #3BCEAC !important;
    background-color: #575c62;
    border: 3px outset hsl(166, 60%, 42%) !important;
}

.subject-input {
    background-color: #6e6e6e;
    border: 1px solid #484848;
    border-radius: 6px;
    color: hsl(0, 0%, 21%) !important;
}

.subject-input:hover {
    background-color: hsl(0, 0%, 48%);
    border: 1px solid hsl(0, 0%, 33%);
}

.subject-input:focus {
    background-color: hsl(0, 0%, 58%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 28%), -2px -2px 2px hsl(0, 0%, 28%), 2px -2px 2px hsl(0, 0%, 28%), -2px 2px 2px hsl(0, 0%, 28%);
    border: 1px solid hsl(0, 0%, 43%);
}

.subject-input::placeholder {
    color: hsl(0, 0%, 16%) !important;
}

.modal-gen-btn {
    color: var(--black);
    background-color: #dabd19;
    border: 3px outset rgba(187, 162, 19, 1);
    font-family: "Spectral";
    font-weight: 700;
}

.modal-gen-btn:hover {
    background-color: #eacb1b;
    border: 3px outset rgba(187, 162, 19, 0.8);
    color: var(--black);
}

.modal-gen-btn:active {
    color: var(--black) !important;
    background-color: #dabd19 !important;
    border: 3px outset rgba(187, 162, 19, 1) !important;
}

body {
    background-color: #202327;
}

.study-tools {
    color: #dabd19;
    text-shadow: 4px 4px 4px var(--black);
    font-family: "Merienda";
    font-size: 3.1vw;
    backdrop-filter: blur(50px);
    box-shadow: 3px 3px 3px black;
    background-color: #171717;
    border-radius: 50px;
    margin-bottom:10px;
}

.toolCards {
    font-family: "Merienda";
    font-weight: 700;
    background-color: var(--black);
    backdrop-filter: blur(50px);
    border-radius: 50px;
    box-shadow: 3px 3px 3px black;
}

.card-img-overlay {
    text-shadow: 2px 2px 2px var(--grey);
    backdrop-filter: blur(3px);
    border-radius: 50px;
    box-shadow: 3px 3px 3px black;
}

.card {
    border-radius: 50px;
    transform: scale(0.9);
    border: 7px solid var(--red);
}

.card:hover {
    transform: scale(0.93);
}

.card>img {
    border-radius: 50px;
    box-shadow: 3px 3px 10px #111, -3px 3px 10px #111;
}

.card-text {
    color: var(--black);
    white-space: wrap; 
    text-overflow: ellipsis;
    font-size: 2vw;
}

.card-title {
    color: var(--black);
    font-size: 3vw;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: black;
}