* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Spectral";
}

header {
    color: #D8D5DB;
    background-color: #171717;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}

h1 {
    transition: 1s;
}

.nav-bar #ninja-logo {
    width: 50px;
    height: 50px;
    background-color: #887d29;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 2px 5px;
    list-style-type: none;
    margin-left: 10px;
}

li:hover {
    background-color: #f15152;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #D8D5DB;
}

main {
    background-color: grey;
    width: 100%;
}

#ninja-logo {
    width: 100px;
    height: 100px;
    border: 4px double #D8D5DB;
    border-radius: 60px;
    padding: 10px;
}

.main-top #ninja-logo {
    transform: translate(10px, 85px);
    transition: 1s;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#randomQuote {
    color: white;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding-top: 80px;
}

.what-subject {
    text-align: center;
    margin-bottom: 180px;
    font-size: 40px;
}

.subject-btn {
    text-align: center;
}

.subject-btn button {
    padding: 5px 20px;
    margin-bottom: 30px;
    background-color: #D8D5DB;
    border: 5px outset #f15152;
    border-radius: 20px;
    font-weight: 600;
}

.column {
    float: left;
    width: 33%;
    padding: 80px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.row {margin: 0 5px;}

.card {
    box-shadow: 0 20px 5px 0;
    padding: 40px;
    background-color: #f15152;
}

.button {
    border: none;
    color: rgb(18, 15, 15);
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px; 
    cursor: pointer;
}



