* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .navbar-brand {
    transform: translateX(150px);
} */
.ourNav {
    background-color: black!important;
}
.navText {
    color: white;
    font-size: 20px;
}
.logoText {
    font-size: 40px;
}
ul {
    transform: translateX(500px);
}
.ourCard {
    background-color: #f15152;
    padding: 2%;
    margin: auto;
}
.ourBtn {
    background-color: black;
}
/* 
.navbar-text {
    transform: translateX(-150px);
} */
.fade-in {
    opacity: 0;
    animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#randomQuote {
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding-right: 75px;
    border-radius: 5px;
}
.quoteBackground {
    background-color: lightgray;
}
main {
    display: flex;
}